<header class="header">
    <div class="header-logo">
        <a routerLink="/table" routerLinkActive="active">
            <img src="assets/images/mitrix_tech_logo.png" alt="Mitrix technology">
        </a>
    </div>
</header>