<header-component></header-component>
<main-window [title]="title"
             [Groups]="Groups"
             [headers]="headers"
             [headers_views]="headers_views"
             [response]="response"></main-window>
             
            