<div class="groups"> 
    <h1>{{title}}</h1>
    <table>
        <tr>
            <th *ngFor="let column of headers_views">
                {{column}}
            </th>
        </tr>
        <tr *ngFor="let group of Groups | paginate: {itemsPerPage: countOfRecords, currentPage: page}">
            <td *ngFor="let column of headers">
                {{group[column]}}
            </td>
        </tr>
        <div class="groups-pagination">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </table>
   <!--  <div *ngIf="response">
        {{response.text}}
        {{response.info}}
    </div> -->
</div> 