.groups {
  max-width: 100%;
  padding-top: 100px;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
  }
  table {
    width: 900px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    font-size: 13px;
    white-space: nowrap;
    th {
      background-color: #2f2f2f;
      color: #fcfcfc;
      padding: 0 10px 0;
      font-size: 15px;
      line-height: 50px;
    }
    tr {
      line-height: 50px;
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
  &-pagination {
    margin-top: 30px;
  }
}
